---
layout: default
title: Tags
---

{% assign all_tags = "" | split: "" %}
{% for post in site.posts %}
  {% assign all_tags = all_tags | concat: post.tags %}
{% endfor %}
{% assign all_tags = all_tags | uniq | sort %}

<main>
  <p class="section-heading">Browse by tag</p>

  {% for tag in all_tags %}
  {% assign tag_posts = site.posts | where_exp: "post", "post.tags contains tag" %}
  <div id="{{ tag | slugify }}" class="tag-group">
    <div class="tag-group-header">
      <h2><a class="tag" href="/tags.html#{{ tag | slugify }}">{{ tag }}</a></h2>
      <span class="tag-count-badge">{{ tag_posts | size }}</span>
    </div>
    <ul class="tag-post-list">
      {% for post in tag_posts %}
      <li class="tag-post-item">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

</main>
